.system-panel {
    padding: 20px;
}

.system-panel h5 {
  font-size: large;
}

.systems-button-container {
  display: flex;
  flex-wrap: wrap;
}

.systems-button-container > div {
}

.systems-button {
  background-color: transparent;
  color: #54547c;
  border: none;
  font-size: medium;
}

@media (max-width: 768px) {
  .systems-button {
    font-size: small;
  }
}


.systems-button:hover {
  background-color: #54547c;
  color: #d9d2e9;
  border: 2px solid #54547c;
}

.selected-filter {
  border: none;
  color: #54547c;
}

.selected-filter:hover {
  background-color: transparent;
  color: #54547c;
}