.system-panel {
  background-color: #ffff;
  border: 2px solid #d9d2e9;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.systems-button-container {
  display: flex;
  flex-wrap: wrap;
}

.systems-button-container > div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.systems-button {
  background-color: #d9d2e9;
  color: #54547c;
  border: 2px solid #d9d2e9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.systems-button:hover {
  background-color: #54547c;
  color: #d9d2e9;
  border: 2px solid #54547c;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.systems-button:active,
.systems-button:focus {
  background-color: #54547c;
  color: #d9d2e9;
  border: 2px solid #54547c;
}
