h5.liked-header {
    display: flex;
    align-items: center;
    color: #54547c;
    justify-content: center;
}

.like-user-icon {
    margin-right: 5px;
}

.followedButtons {
    background-color: rgba(255, 255, 255, 0);
    color: #54547c;
    width: 100%;
    border: none;
}

.followedButtons:hover {
    background-color:#54547c;
    color: #ffff;
}
