.post-create-button {
    background-color: #629d77;
    color: #ffff;
    border: 2px solid #629d77;
  }
  
  .post-create-button:hover {
    background-color: #ffff;
    color: #629d77;
    border: 2px solid #629d77;
  }
  
.input-border {
    border-color: #b1cebb;
  }
  
  .input-border:focus {
    border-color: #b1cebb;
    box-shadow: 0 0 0 0.2rem rgba(177, 206, 187, 0.5);
  }

  .input-border::placeholder {
    color: #295d3b;
  }

  .product-post-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #b1cebb;
}

.remove-button {
  padding: 2.5px 5px;
  font-size: 14px;
}