.post {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #b1cebb;
  }

  .PostFooter {
    display: flex;
    justify-content: space-between;
  }

  .LikesSection {
    color:#1877F2;
  }

  .CommentsSection {
    color: #629d77;
  }

  .PostFooter {
    background-color: #b1cebb1e;
  }

  .Post {
    border-color: #b1cebb;
  }