.post-delete-button {
    background-color: #ffff;
    border: none;
    color: #A60E37;
}

.post-edit-button {
    background-color: #ffff;
    border: none;
    color: #023e85;
}

.post-title-detail {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.post-description-detail {
    margin-top: 5px;
}

.product-used-detail {
    margin-top: 5px;
}

.comments-detail {
    margin-top: 5px;
}

.arrow-button {
    border: #b1cebb 1px solid;
    background-color: transparent;
    color: #b1cebb;
    font-weight: bold;
  }

  .arrow-button:hover {
    background-color: #b1cebb;
    color: white;
  }