.post {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #b1cebb;
}

.PostFooter {
  display: flex;
  justify-content: space-between;
}

.LikesSection {
  display: flex;
  align-items: center; 
  color:#1877F2;
  font-size: large;
}

.CommentsSection {
  display: flex;
  align-items: center; 
  color: #629d77;
  font-size: large;
}

.LikesSection span {
  margin-left: 5px;
}

.CommentsSection span {
  margin-right: 5px;
}

.PostFooter {
  background-color: #b1cebb1e;
}

.Post {
  border-color: #b1cebb;
}

.CommentsSection {
  display: flex;
  align-items: center;
}

.CommentsSection button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: #629d77;
  font-weight: 200;
}

.ExpandedComments {
  margin-top: 10px;
}

.CommentsArea {
  padding: 0.75rem 1.25rem;
}

.CommentsAreaWrapper {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}


.CommentsAreaWrapper::-webkit-scrollbar {
  width: 10px;
}

.CommentsAreaWrapper::-webkit-scrollbar-thumb {
  background-color: #629d778b;
  border-radius: 0px;
}

.CommentsAreaWrapper::-webkit-scrollbar-track {
  background-color: #629d772c;
}