.post-delete-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #A60E37;
}

.post-edit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #023e85;
}

.post-title-detail {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.post-description-detail {
    margin-top: 5px;
}

.product-used-detail {
    margin-top: 5px;
}

.comments-detail {
    margin-top: 5px;
}

.arrow-button {
    border: #b1cebb 1px solid;
    background-color: transparent;
    color: #b1cebb;
    font-weight: bold;
  }

  .arrow-button:hover {
    background-color: #b1cebb;
    color: white;
  }

  .CommentsAreaWrapper {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  
  .CommentsAreaWrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .CommentsAreaWrapper::-webkit-scrollbar-thumb {
    background-color: #629d778b;
    border-radius: 0px;
  }
  
  .CommentsAreaWrapper::-webkit-scrollbar-track {
    background-color: #629d772c;
  }

  .AddComment {
    padding-right: 10px;
  }

  .CommentOwner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .CommentBubble {
    flex-shrink: 0;
  }
  
  .CommentBubble:hover {
    color: #629d77;
  }
  
  .delete-button {
    background-color:  rgba(0, 0, 0, 0);
    border: none;
    color: #A60E37;
  }
  
  .edit-button {
    background-color:  rgba(0, 0, 0, 0);
    border: none;
    color: #023e85;
  }
  
  .delete-button:hover {
    background-color: #A60E37;
    color: #ffff;
  }
  
  .edit-button:hover {
    background-color: #023e85;
    color: #ffff;
  }

  .CommentOwner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .LikesSection {
    display: flex;
    align-items: center; 
    color:#1877F2;
    font-size: large;
  }

  .LikesSection span {
    margin-left: 5px;
  }
  