.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-header {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5rem;
}

.header-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.name-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 60px;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .name-header {
        margin-top: 20px;
    }
  }

.profile-detail {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

.delete-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #A60E37;
}

.edit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #023e85;
}

.user-ranking {
    text-transform: uppercase;
    color: #023e85;
}

.unfollowUser {
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color:#e33720;
    display: flex;
  align-items: center;
}

.unfollowUser:hover {
    background-color:#e33720 ;
    color:#ffff;
}

.unfollowUser span {
    margin-right: 0.5rem;
    line-height: 1;
  }

  .password-button {
    color:#295d3b;
  }