.profileFormButtons {
    display: flex;
    justify-content: space-evenly;
  }

  .passwordSave {
    background-color: #629d77;
    color: #ffff;
    border: none;
    width: 20%;
  }

  .passwordSave:hover {
    background-color: #ffff;
    color: #629d77;
    border: #629d77 1px solid;
  }

  .passwordCancel {
    background-color: #A60E37;
    color: #ffff;
    border: none;
    width: 20%;
  }

  .passwordCancel:hover {
    background-color:#ffff ;
    color: #A60E37;
    border: #A60E37 1px solid;
  }