/*App general css*/

body {
  background-color: #629d770b;
  font-family: 'Lato', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.register-container {
  flex: 1;
  overflow-y: auto;
}

.ranking-bar {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.ranking-title {
  color: #54547c;
  font-weight: 600;
}