/*App general css*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding-top: 130px;
}

/* Navbar */

.navbar-container {
  background-color: #ffff;
}

.nav-link {
  text-align: right;
  font-size: large;
  color: #54547c !important;
  font-weight: 400;
}

.nav-link-menu {
  text-decoration: none !important;
  color: #54547c !important;
}

.nav-link-menu:hover {
  color: #ffff !important;
}

#basic-nav-dropdown {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#menu-items {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: none;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #7b70a6;
  color: #ffff;
}

.nav-link:hover {
  color: #272c4f !important;
}

.dropdown-menu.show {
  border: none;
}

@media (min-width: 768px) {
  .navbar-container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .logo-container img {
    height: 90px;
  }

  .nav-link {
    font-size: 1rem;
  }

}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-size: larger;
  color: #54547c;
  width: auto;
  background-color: #ffff;
  border-top: #8375ac 1px solid;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footer a:hover {
  color: #7b70a6;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer svg {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
}

/*Register/Login*/
.login-register {
  margin-top: 13rem;
}

button.register-button.btn.btn-primary {
  width: 80%;
  background-color: #599960;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button.register-button.btn.btn-primary:hover {
  color: #599960;
  background-color: #ffff;
}

button.login-button.btn.btn-primary {
  width: 80%;
  background-color: #8375ac;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button.login-button.btn.btn-primary:hover {
  color: #8375ac;
  background-color: #ffff;
}

.login-card {
  background-color: #8375ac2e;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(227 203 232);
  border: none;
  width: 100%;
}

.login-card input {
  border: 1px solid #8375ac;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
  align-items: center;
}

.register-card {
  background-color: #5999612b;
  border-radius: 10px;
  margin-bottom: 80px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px 0px rgba(171, 227, 184, 0.934);
  border: none;
  width: 100%;
}

.register-card input {
  border: 1px solid #599960;
}

.register-card textarea {
  border: 1px solid #599960;
}

@media (max-width: 767px) {
  .register-card {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .login-card {
    margin-top: 0px;
  }

  #register-login {
    margin-top: 40px;
  }
}

/*Avatar*/
.avatar-image {
  border-radius: 50%;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}