/*App general css*/

body {
  background-color: #629d770b;
  font-family: 'Lato', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.register-container {
  flex: 1;
  overflow-y: auto;
}

.ranking-bar {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.ranking-title {
  color: #54547c;
  font-weight: 600;
}

/* Navbar */

.navbar-container {
  background-color: #ffff;
  padding-bottom: 0px;
  border-top: #8375ac 5px solid;
  border-bottom: #8375ac1e 0.5px solid;
}

a.user-link-menu.active {
  background: transparent;
  color: #54547c;
}

a.user-link-menu {
  background: transparent;
  color: #54547c;
  text-decoration: none;
}

a.user-link-menu:hover {
  color: #06063f;
}


a.user-menu.dropdown-item:hover {
  background-color: transparent;
}

.nav-link {
  text-align: right;
  font-size: large;
  color: #54547c !important;
  font-weight: 400;
}

.nav-link-menu {
  text-decoration: none !important;
  color: #54547c !important;
}

.nav-link-menu:hover {
  color: #272c4f !important;
}

#basic-nav-dropdown {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#menu-items {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: none;
  text-decoration: none;
  background-color: #ffff;
  border: #54547c25 0.5px solid;
}

.dropdown-item:hover {
  background-color: transparent;
  color: #272c4f;
}

.nav-link:hover {
  color: #272c4f !important;
}

.dropdown-menu.show {
  border: none;
}

@media (max-width: 768px) {
  .logo-container img {
    height: 90px;
  }

  .nav-link {
    font-size: 1rem;
  }

}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: larger;
  color: #ffffff;
  width: auto;
  background-color: #301c3b;
  border-top: #8375ac 1px solid;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footer a:hover {
  color: #7b70a6;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer svg {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
}

/*Avatar*/
.avatar-image {
  border-radius: 50%;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}